<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="originDetails">
            <h2><span>Origin Details</span> {{originDetails.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{originDetails.content}}</span>
                </dd>
                <dt><span>Date Added</span></dt>
                <dd>
                    <span>{{originDetails.dateAdded}}</span>
                </dd>
                <dt><span>In Circulation</span></dt>
                <dd>
                    <span>{{originDetails.inCirculation}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    {{originDetails.createdBy?.id}}
                </dd>
                <dt><span>Viewable By</span></dt>
                <dd>
                    <span *ngFor="let viewableBy of originDetails.viewableBies; let last = last">
                        {{viewableBy.id}}{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/origin-details', originDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
