<div>
    <h2 id="page-heading">
        <span>Backstories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-backstory" [routerLink]="['/backstory/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Backstory
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="backstories?.length === 0">
        <span>No backstories found</span>
    </div>
    <div class="table-responsive" *ngIf="backstories?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Text</span></th>
            <th><span>Adjective</span></th>
            <th><span>Species</span></th>
            <th><span>Occupation</span></th>
            <th><span>Homeworld</span></th>
            <th><span>Origin Details</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let backstory of backstories ;trackBy: trackId">
                <td><a [routerLink]="['/backstory', backstory.id, 'view' ]">{{backstory.id}}</a></td>
                <td>{{backstory.text}}</td>
                <td>
                    <div *ngIf="backstory.adjective">
                        <a [routerLink]="['../adjective', backstory.adjective?.id, 'view' ]" >{{backstory.adjective?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="backstory.species">
                        <a [routerLink]="['../species', backstory.species?.id, 'view' ]" >{{backstory.species?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="backstory.occupation">
                        <a [routerLink]="['../occupation', backstory.occupation?.id, 'view' ]" >{{backstory.occupation?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="backstory.homeworld">
                        <a [routerLink]="['../planet', backstory.homeworld?.id, 'view' ]" >{{backstory.homeworld?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="backstory.originDetails">
                        <a [routerLink]="['../origin-details', backstory.originDetails?.id, 'view' ]" >{{backstory.originDetails?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/backstory', backstory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/backstory', backstory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'backstory', { outlets: { popup: backstory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
