<div>
    <h2 id="page-heading">
        <span>Occupations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-occupation" [routerLink]="['/occupation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Occupation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="occupations?.length === 0">
        <span>No occupations found</span>
    </div>
    <div class="table-responsive" *ngIf="occupations?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Date Added</span></th>
            <th><span>In Circulation</span></th>
            <th><span>Remarks</span></th>
            <th><span>Created By</span></th>
            <th><span>Viewable By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let occupation of occupations ;trackBy: trackId">
                <td><a [routerLink]="['/occupation', occupation.id, 'view' ]">{{occupation.id}}</a></td>
                <td>{{occupation.name}}</td>
                <td>{{occupation.dateAdded | date:'medium'}}</td>
                <td>{{occupation.inCirculation}}</td>
                <td>
                    <div *ngIf="occupation.remarks">
                        <a [routerLink]="['../remarks', occupation.remarks?.id, 'view' ]" >{{occupation.remarks?.id}}</a>
                    </div>
                </td>
                <td>
                    {{occupation.createdBy?.id}}
                </td>
                <td>
                    <span *ngFor="let viewableBy of occupation.viewableBies; let last = last">
                            {{viewableBy.id}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/occupation', occupation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/occupation', occupation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'occupation', { outlets: { popup: occupation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
