<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="occupation">
            <h2><span>Occupation</span> {{occupation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{occupation.name}}</span>
                </dd>
                <dt><span>Date Added</span></dt>
                <dd>
                    <span>{{occupation.dateAdded}}</span>
                </dd>
                <dt><span>In Circulation</span></dt>
                <dd>
                    <span>{{occupation.inCirculation}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <div *ngIf="occupation.remarks">
                        <a [routerLink]="['/remarks', occupation.remarks?.id, 'view']">{{occupation.remarks?.id}}</a>
                    </div>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    {{occupation.createdBy?.id}}
                </dd>
                <dt><span>Viewable By</span></dt>
                <dd>
                    <span *ngFor="let viewableBy of occupation.viewableBies; let last = last">
                        {{viewableBy.id}}{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/occupation', occupation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
