<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="species">
            <h2><span>Species</span> {{species.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{species.name}}</span>
                </dd>
                <dt><span>Physical Characteristics</span></dt>
                <dd>
                    <span>{{species.physicalCharacteristics}}</span>
                </dd>
                <dt><span>Date Added</span></dt>
                <dd>
                    <span>{{species.dateAdded}}</span>
                </dd>
                <dt><span>In Circulation</span></dt>
                <dd>
                    <span>{{species.inCirculation}}</span>
                </dd>
                <dt><span>Remarks</span></dt>
                <dd>
                    <div *ngIf="species.remarks">
                        <a [routerLink]="['/remarks', species.remarks?.id, 'view']">{{species.remarks?.id}}</a>
                    </div>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    {{species.createdBy?.id}}
                </dd>
                <dt><span>Viewable By</span></dt>
                <dd>
                    <span *ngFor="let viewableBy of species.viewableBies; let last = last">
                        {{viewableBy.id}}{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/species', species.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
