<div>
    <h2 id="page-heading">
        <span>PC Comment Threads</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pc-comment-thread" [routerLink]="['/pc-comment-thread/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new PC Comment Thread
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pCCommentThreads?.length === 0">
        <span>No pCCommentThreads found</span>
    </div>
    <div class="table-responsive" *ngIf="pCCommentThreads?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Headline</span></th>
            <th><span>Date Added</span></th>
            <th><span>Exists In</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pCCommentThread of pCCommentThreads ;trackBy: trackId">
                <td><a [routerLink]="['/pc-comment-thread', pCCommentThread.id, 'view' ]">{{pCCommentThread.id}}</a></td>
                <td>{{pCCommentThread.headline}}</td>
                <td>{{pCCommentThread.dateAdded | date:'medium'}}</td>
                <td>
                    <div *ngIf="pCCommentThread.existsIn">
                        <a [routerLink]="['../remarks', pCCommentThread.existsIn?.id, 'view' ]" >{{pCCommentThread.existsIn?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pc-comment-thread', pCCommentThread.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pc-comment-thread', pCCommentThread.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'pc-comment-thread', { outlets: { popup: pCCommentThread.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
